.body {
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    background: black;
    color: #383E40;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.hero-img {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 5px #e4e4e4;
    -webkit-transition: 4s ease-out;
}

.hero-img:hover {
    top: 2px;
}